@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#preview {
  padding: 2em;
  aspect-ratio: 4/5; /* Mantiene la proporcion 1080x1350*/
  font-weight: bold;
}
#preview h2{
  font-size: 2vw;
  max-font-size: 2vw;
}